.search{
    margin: 20px 50px 0;
}
.search input{
    border: 0;
    padding: 20px 10px 10px;
    width: calc(100% - 150px);
    margin-right: 16px;
    font-size: 24px;
    border-bottom: 1px solid transparent;

}

.search input:focus{
    outline: 0;
    border-bottom: 1px solid #ccc;
}
.btn{
    padding: 6px 16px;
    background: aqua;
    color: #fff;
    border: 2px solid aqua;
    font-weight: bold;
    box-shadow: inset 1px 1px 4px 2px #fff;
    border-radius: 6px;
    font-size: 24px;
}
.radio{
    margin: 20px 50px 0;
}
.radio span{
    margin-right: 60px;
}